body {
    text-align: center;
    background-color: #dcdcdc;
}


img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

img:hover {
	-webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}

.index-logo-text {
    text-shadow: 3px 5px 6px red;
    color: aliceblue;
}

.navbar-brand {
    color:aliceblue ;
}

.nav-link {
    color:aliceblue;
}

.about-bg{
    padding-top: 20%;
    padding-bottom: 20%;
    background: url("/static/images/gallery/img4.jpeg");
    background-size: cover;
    text-shadow: 3px 5px 6px black;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

.about-bg:hover {
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}


#services {
    padding-top: 10%;
    /* padding-bottom: 10%; */
}

#teachers {
    padding-top: 10%;
    /* padding-bottom: 10%; */
}

#schedule {
    padding-top: 10%;
}

#contact {
    padding-top: 10%;
    padding-bottom: 10%;
}

.map {
    padding-top: 5%;
}

.txt {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    color: white;
    
}

.price {
    padding-top: 5%;
    padding-bottom: 5%; 
}

.image-price {
    height: 40rem;
}

.cimg {
    height: 25rem;
    /* border-radius: 100%; */
}

.carousel-item {
    padding: 5%;
}

.carousel-control-prev-icon {
    background-image: url('/static/images/left-arrow.png');
    /* background-color: black; */
}

.carousel-control-next-icon {
    background-image: url('/static/images/right-arrow.png');
    }

.menu {
    text-align: left;
    margin-top: 15rem;
    padding: 5%;
    
}

.users {
    margin-top: 5rem;
    padding: 5%;
}


.flash-message {
    color: orangered;
}

.add_user {
    margin-top: 1rem;
}

.teachers {
    margin-top: 2rem;

     
}
.teacher_block {
    padding-bottom: 2rem;
}
.tavatar {
    height: 7rem;
    border-radius: 100%;
}
.ttext{
    text-align: left;
}

.timage {
    text-align: right;
}
/* 
.add_user {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
} */

.user_name {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
}

.user_email{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
} 

.user_password {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
}

.sign_button {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
}

/* .form-group.required {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
} */

.upload_photo {
    padding-top: 1rem;
}

.submit_button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#path_photo {
    margin-top: 1rem;
}

#submit {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#courses {
    padding-top: 10%;
}

.cavatar {
    height: 10rem;
}

.course_block {
    padding-bottom: 2rem;
}

#enter {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#user_name,#user_email,#password,#sign {
    width: 100%;
    max-width: 330px;
    margin-bottom: 15px;
    display:inline-block;
    
}

.contact-link {
    text-decoration: none;
    color: black;
}

.contact-link:hover {
    color: #6a85b6;
}

.index_tavatar {
    border-radius: 100%;
}

.left_column {
    text-align: right;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.flash-message {
    color: #a52a2a;
  }

.header-sigin{
    margin-top: 15%;
}

.error-403 {
    margin-top: 15%;
    width: 100%;
    max-width: 330px;
    padding: 15px;
}
