body {
    text-align: center;
/* fallback for old browsers */
background: #6a85b6;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 133, 182, 0.5), rgba(186, 200, 224, 0.5));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 133, 182, 0.5), rgba(186, 200, 224, 0.5))     
}

.navbar {
/* fallback for old browsers */
background: #6a85b6;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 133, 182, 1), rgba(186, 200, 224, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 133, 182, 1), rgba(186, 200, 224, 1))
}

.about-bg{
    padding-top: 20%;
    padding-bottom: 20%;
    background: url("/static/images/gallery/img4.jpeg");
    background-size: cover;
    text-shadow: 3px 5px 6px black;
}


#services {
    padding-top: 10%;
    /* padding-bottom: 10%; */
}

#teachers {
    padding-top: 10%;
    /* padding-bottom: 10%; */
}

#schedule {
    padding-top: 10%;
}

#contact {
    padding-top: 10%;
    padding-bottom: 10%;
}

.map {
    padding-top: 5%;
}

.txt {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    color: white;
    
}

.price {
    padding-top: 5%;
    padding-bottom: 5%; 
}

.image-price {
    height: 40rem;
}

.cimg {
    height: 25rem;
    /* border-radius: 100%; */
}

.carousel-item {
    padding: 5%;
}

.carousel-control-prev-icon {
    background-image: url('/static/images/left-arrow.png');
    /* background-color: black; */
}

.carousel-control-next-icon {
    background-image: url('/static/images/right-arrow.png');
    }

.menu {
    text-align: left;
    margin-top: 15rem;
    padding: 5%;
    
}

.users {
    margin-top: 5rem;
    padding: 5%;
}


.flash-message {
    color: orangered;
}

.add_user {
    margin-top: 1rem;
}

.teachers {
    margin-top: 2rem;

     
}
.teacher_block {
    padding-bottom: 2rem;
}
.tavatar {
    height: 7rem;
    border-radius: 100%;
}
.ttext{
    text-align: left;
}

.timage {
    text-align: right;
}
/* 
.add_user {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
} */

.user_name {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
}

.user_email{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
} 

.user_password {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
}

.sign_button {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
}

/* .form-group.required {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    display: inline-block;
} */

.upload_photo {
    padding-top: 1rem;
}

.submit_button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#path_photo {
    margin-top: 1rem;
}

#submit {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


#courses {
    padding-top: 10%;
}

.cavatar {
    height: 10rem;
}

.course_block {
    padding-bottom: 2rem;
}

#enter {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#user_name,#user_email,#password,#sign {
    width: 100%;
    max-width: 330px;
    margin-bottom: 15px;
    display:inline-block;
    
}

.contact-link {
    text-decoration: none;
    color: black;
}

.contact-link:hover {
    color: #6a85b6;
}
