<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=0.75, user-scalable=no"/> -->

    <meta name="viewport" content="width=device-width, initial-scale=0.75, shrink-to-fit=no" />
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/0337b42812.js" crossorigin="anonymous"></script>

    <!-- right arrow <a href="https://www.flaticon.com/free-icons/next" title="next icons">Next icons created by Roundicons - Flaticon</a> -->
    <!-- left arrow <a href="https://www.flaticon.com/free-icons/back" title="back icons">Back icons created by Roundicons - Flaticon</a> -->

    <title>Pro Искусство - Арт Центр</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg bg-dark navbar-dark">
            <div class="container">
                <a class="navbar-brand index-logo-text" href="#">Pro Искусство - Арт Центр</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Услуги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#teachers">Преподаватели</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#schedule">Расписание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('sign') }}">Enter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="about">
        <div class="container about-bg">
            <div class="txt">

                <h1>Pro Искусство - Арт Центр</h1>
                <ul>
                    <h5>
                        <dt>Опытные педагоги.</dt>
                        <dl>Все наши преподаватели настоящие профессионалы своего дела, активно занимающиеся выставочной и творческой деятельностью. Имеют высшее  художественное и педагогическое образование и опыт работы.</dl>
                    </h5>
                </ul>
                <ul>
                    <h5>
                        <dt>Определённая методика обучения.</dt>
                        <dl>Все наши преподаватели настоящие профессионалы своего дела, активно занимающиеся выставочной и творческой деятельностью. Имеют высшее  художественное и педагогическое образование и опыт работы.</dl>
                    </h5>
                </ul>
                <ul>
                    <h5>
                        <dt>Комфортные условия.</dt>
                        <dl>Большое пространство в котором 
                            несколько просторных и светлых помещений. 
                            А также несколько более камерных комнат позволяют удобно разместиться, как и коллективно так и индивидуально.</dl>
                    </h5>
                </ul>
                <ul>
                    <h5>
                        <dt>Удобное расположение. </dt>
                        <dl>Студия находится в центре города в пешей доступности от метро Василиостровская (4 минуты) .
                            6 линия В.О. дом 61.  Работаем как в будние так и в выходные дни.</dl>
                    </h5>
                </ul>
                </div>
        </div>
    </section>


    <section id="services">
        <div class="container price">
            <h1 class="header-section-text">Услуги</h1>

            <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel" data-bs-interval="15000">
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <img class="image-price" src="{{ price[0].avatar }}" alt="">
                        <h4 class="card-title">{{ price[0].name }}</h4>
                        <br>
                        <h5>{{ price[0].description }}</h5>
                        <br>
                        <h4>{{ price[0].price }} руб.</h4>

                    </div>

                    {% for services in price[1:]: %}
                    <div class="carousel-item">
                        <img class="image-price" src="{{ services.avatar }}" alt="">
                        <h4>{{ services.name }}</h4>
                        <br>
                        <h5>{{ services.description }}</h5>
                        <br>
                        <h4>{{ services.price }} руб.</h4>
                    </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


    </section>

    <section id="teachers">
        <div class="container teachers">
            <h1 class="header-section-text">Преподаватели</h1>

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="15000">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="image-price index_tavatar" src="{{ teachers[0].avatar }}" alt="">
                        <h4 class="card-title">{{ teachers[0].name }}</h4>
                        <h5>{{ teachers[0].about }}</h5>

                    </div>

                    {% for services in teachers[1:]: %}
                    <div class="carousel-item">
                        <img class="image-price index_tavatar" src="{{ services.avatar }}" alt="">
                        <h4>{{ services.name }}</h4>
                        <h5>{{ services.about }}</h5>
                    </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    <section id="schedule">
        <div class="container">

            <h1 class="header-section-text">Расписание занятий</h1>

            <div class="table-responsive-xxl">

                <table class="table table-bordered text-center table-striped">
                    <thead>
                        <tr class="bg-light-gray">
                            <th scope="col" class="text-uppercase ">Время</th>
                            {% for day in all_days: %}
                            <th scope="col" class="text-uppercase">{{ day }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            {% for time, db in schelude.items(): %}
                            <th scope="row">{{ time }}</th>
                            <td class="{{ all_days[0] }}">
                                {{ db.get(all_days[0])[0] if db.get(all_days[0]) else '' }}
                                <br>
                                {{ db.get(all_days[0])[1] if db.get(all_days[0]) else '' }}
                            </td>
                            <td class="{{ all_days[1] }}">
                                {{ db.get(all_days[1])[0] if db.get(all_days[1]) else '' }}
                                <br>
                                {{ db.get(all_days[1])[1] if db.get(all_days[1]) else '' }}
                            </td>
                            <td class="{{ all_days[2] }}">
                                {{ db.get(all_days[2])[0] if db.get(all_days[2]) else '' }}
                                <br>
                                {{ db.get(all_days[2])[1] if db.get(all_days[2]) else '' }}
                            </td>
                            <td class="{{ all_days[3] }}">
                                {{ db.get(all_days[3])[0] if db.get(all_days[3]) else '' }}
                                <br>
                                {{ db.get(all_days[3])[1] if db.get(all_days[3]) else '' }}
                            </td>
                            <td class="{{ all_days[4] }}">
                                {{ db.get(all_days[4])[0] if db.get(all_days[4]) else '' }}
                                <br>
                                {{ db.get(all_days[4])[1] if db.get(all_days[4]) else '' }}
                            </td>
                            <td class="{{ all_days[5] }}">
                                {{ db.get(all_days[5])[0] if db.get(all_days[5]) else '' }}
                                <br>
                                {{ db.get(all_days[5])[1] if db.get(all_days[5]) else '' }}
                            </td>
                            <td class="{{ all_days[6] }}">
                                {{ db.get(all_days[6])[0] if db.get(all_days[6]) else '' }}
                                <br>
                                {{ db.get(all_days[6])[1] if db.get(all_days[6]) else '' }}
                            </td>
                        </tr>
                        {% endfor %}
        
                    </tbody>
                </table>
            </div>
            <div class="map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A045dec13636b656c41fe9b1649ed3e5cb34158ed86603f67cc0527312636ac5f&amp;width=100%25&amp;height=720&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
    </section>


    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container  d-flex flex-wrap justify-content-between align-items-center">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-muted">© 2022 Pro Искусство, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#"
                        onClick="window.open('https://vk.com/club26228567', '_blank')"><i
                            class="fa-brands fa-vk fa-lg"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="mailto:info@repin-art.ru"><i
                            class="fa-solid fa-at fa-lg"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="tel:+79313282819"><i
                            class="fa-solid fa-phone fa-md"></i></a></li>
            </ul>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>
</html>