<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/0337b42812.js" crossorigin="anonymous"></script>

    <!-- right arrow <a href="https://www.flaticon.com/free-icons/next" title="next icons">Next icons created by Roundicons - Flaticon</a> -->
    <!-- left arrow <a href="https://www.flaticon.com/free-icons/back" title="back icons">Back icons created by Roundicons - Flaticon</a> -->

    <title>Репин Арт - Школа искусств</title>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">Repin Art</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#about">О нас</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Услуги</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#teachers">Преподаватели</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#schedule">Расписание</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('menu') }}">Enter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section id="about">
        <div class="container about-bg">
            <div class="txt">

                <h1>Добро пожаловать в РепинАрт</h1>
                <h4>Наша школа работает с 1984 года.</h4>
                <h4> Мы самая уважаемая школа Санк-Петербурга</h4>
                <h4>Выходцы нашей школы самые выдающиеся мастера кисти и лепки</h4>
                <h4>Наши преподаватели, признанные во всем мире мастера, среди которых есть наши бывшие студенты</h4>
            </div>
        </div>
    </section>


    <section id="services">
        <div class="container price">
            <h1>Услуги</h1>

            <div id="carouselExampleControls1" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">

                        <img class="image-price" src="{{ price[0].avatar }}" alt="">
                        <h4 class="card-title">{{ price[0].name }}</h4>
                        <h5>{{ price[0].description }}</h5>
                        <p>{{ price[0].price }} руб.</p>

                    </div>

                    {% for services in price[1:]: %}
                    <div class="carousel-item">
                        <img class="image-price" src="{{ services.avatar }}" alt="">
                        <h4>{{ services.name }}</h4>
                        <h5>{{ services.description }}</h5>
                        <p>{{ services.price }} руб.</p>
                    </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls1"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls1"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>


    </section>

    <section id="teachers">
        <div class="container teachers">
            <h1>Преподаватели</h1>

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="image-price" src="{{ teachers[0].avatar }}" alt="">
                        <h4 class="card-title">{{ teachers[0].name }}</h4>
                        <h5>{{ teachers[0].about }}</h5>

                    </div>

                    {% for services in teachers[1:]: %}
                    <div class="carousel-item">
                        <img class="image-price" src="{{ services.avatar }}" alt="">
                        <h4>{{ services.name }}</h4>
                        <h5>{{ services.about }}</h5>
                    </div>
                    {% endfor %}

                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>

    <section id="schedule">
        <div class="container">

            <h1>Расписание занятий</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Время / День</th>
                        <th scope="col">Понедельник</th>
                        <th scope="col">Вторник</th>
                        <th scope="col">Среда</th>
                        <th scope="col">Четверг</th>
                        <th scope="col">Пятница</th>
                        <th scope="col">Суббота</th>
                        <th scope="col">Воскресенье</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k, v in d.items(): %}
                    {% for time, name in v.items(): %}
                    <tr>
                        <th scope="row">{{ time }}</th>
                        {% if k == 'понедельник': %}
                        <td>
                            {{name}}
                            <br>
                            zanyatie
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% elif k == 'вторник': %}
                        <td>

                        </td>
                        <td> {{name}}
                            <br>
                            zanyatie
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% elif k == 'среда': %}
                        <td>

                        </td>
                        <td></td>
                        <td>
                            {{name}}
                            <br>
                            zanyatie
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% elif k == 'четверг': %}
                        <td>

                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            {{name}}
                            <br>
                            zanyatie
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        {% elif k == 'пятница': %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            {{name}}
                            <br>
                            zanyatie
                        </td>
                        <td></td>
                        <td></td>
                        {% elif k == 'суббота': %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            {{name}}
                            <br>
                            zanyatie
                        </td>
                        <td></td>
                        {% elif k == 'воскресенье': %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            {{name}}
                            <br>
                            zanyatie
                        </td>

                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% endfor %}

                </tbody>
            </table>
    </section>
    
    <section id="contact">
        <div class="container contacts">
            <h1>Контакты</h1>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>адрес</td>
                        <td>1ая советская</td>
                    </tr>
                    <tr>
                        <td>телефон</td>
                        <td><a class="contact-link" href="tel:+79313282819">+79313282819</a></td>
                    </tr>
                    <tr>
                        <td>эл.почта</td>
                        <td><a class="contact-link" href="mailto:info@repin-art.ru">info@repin-art.ru</a></td>
                    </tr>
                    <tr>
                        <td>соц.сети</td>
                        <td><a class="contact-link" href="#" onClick="window.open('https://vk.com/club26228567', '_blank')">vk.com</a></td>
                    </tr>

                </tbody>
            </table>
            <div class="map">
                <script type="text/javascript" charset="utf-8" async
                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad8e87bfeae83ce0572ff0612a48afa2e8cf83b66efef6433a372b238d37f61c6&amp;width=100%25&amp;height=450&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
    </section>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <span class="mb-3 mb-md-0 text-muted">© 2022 Repin Art, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-muted" href="#" onClick="window.open('https://vk.com/club26228567', '_blank')"><i class="fa-brands fa-vk fa-lg"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="mailto:info@repin-art.ru"><i class="fa-solid fa-at fa-lg"></i></a></li>
                <li class="ms-3"><a class="text-muted" href="tel:+79313282819"><i class="fa-solid fa-phone fa-md"></i></a></li>
            </ul>
        </footer>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>